USE [master]
GO
/****** Object:  Database [QuanLyChiTieu]    Script Date: 06/02/2026 2:42:04 CH ******/
CREATE DATABASE [QuanLyChiTieu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyChiTieu', FILENAME = N'D:\Downloads\MSSQL16.NGOCVINH\MSSQL\DATA\QuanLyChiTieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyChiTieu_log', FILENAME = N'D:\Downloads\MSSQL16.NGOCVINH\MSSQL\DATA\QuanLyChiTieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyChiTieu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyChiTieu]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[avatar] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [Type]) VALUES (1, 1, N'Lương', N'Thu')
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [Type]) VALUES (2, 1, N'Thưởng', N'Thu')
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [Type]) VALUES (3, 1, N'Bán đồ cũ', N'Thu')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [UserID], [CategoryID], [Amount], [TransactionDate], [Note], [CreatedAt], [IsDeleted]) VALUES (1, 1, 1, CAST(15000000 AS Decimal(18, 0)), CAST(N'2026-02-01' AS Date), N'Nhận lương tháng 1', CAST(N'2026-02-02T17:09:41.520' AS DateTime), NULL)
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [CategoryID], [Amount], [TransactionDate], [Note], [CreatedAt], [IsDeleted]) VALUES (2, 1, 4, CAST(45000 AS Decimal(18, 0)), CAST(N'2026-02-02' AS Date), N'Ăn trưa văn phòng', CAST(N'2026-02-02T17:09:41.520' AS DateTime), NULL)
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [CategoryID], [Amount], [TransactionDate], [Note], [CreatedAt], [IsDeleted]) VALUES (3, 1, 5, CAST(60000 AS Decimal(18, 0)), CAST(N'2026-02-03' AS Date), N'Đổ xăng xe máy', CAST(N'2026-02-02T17:09:41.520' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [CreatedAt], [avatar]) VALUES (1, N'admin', N'123', N'Nguyễn Văn A', CAST(N'2026-02-02T17:09:41.517' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [CreatedAt], [avatar]) VALUES (2, N'vinh', N'a7148aa43e29ac498289f7361201e041b47a4b2a9e72e96892f2ee894b005259', N'vinh', CAST(N'2026-02-03T00:51:43.913' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [CreatedAt], [avatar]) VALUES (3, N'vinh1', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'vinh5167943', CAST(N'2026-02-03T02:05:52.200' AS DateTime), N'user-3-20260206142459.png')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4706BDD41]    Script Date: 06/02/2026 2:42:04 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD CHECK  (([Type]=N'Chi' OR [Type]=N'Thu'))
GO
/****** Object:  StoredProcedure [dbo].[Proc_AddTransaction]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_AddTransaction]
    @UserID INT,
    @CategoryID INT,
    @Amount DECIMAL(18,2),
    @TransactionDate DATE,
    @Note NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Transactions
        (UserID, CategoryID, Amount, TransactionDate, Note)
    VALUES
        (@UserID, @CategoryID, @Amount, @TransactionDate, @Note);
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_AddUserCategory]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_AddUserCategory]
    @UserID INT,
    @CategoryName NVARCHAR(100),
    @Type NVARCHAR(10)
AS
BEGIN
    INSERT INTO Categories (UserID, CategoryName, Type)
    VALUES (@UserID, @CategoryName, @Type);
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_DeleteTransaction]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.6. Xóa giao dịch
CREATE PROCEDURE [dbo].[Proc_DeleteTransaction]
    @TransactionID INT
AS
BEGIN
    DELETE FROM Transactions WHERE TransactionID = @TransactionID;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetCategoriesByUser]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_GetCategoriesByUser]
    @UserID INT
AS
BEGIN
    SELECT CategoryID, CategoryName, Type
    FROM Categories
    WHERE UserID IS NULL OR UserID = @UserID
    ORDER BY Type, CategoryName;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetDashboardStats]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.4. Lấy thống kê tổng quan (3 ô vuông màu: Thu - Chi - Số dư)
CREATE PROCEDURE [dbo].[Proc_GetDashboardStats]
    @UserID INT,
    @Month INT,
    @Year INT
AS
BEGIN
    SELECT 
        COALESCE(SUM(CASE WHEN c.Type = N'Thu' THEN t.Amount ELSE 0 END), 0) AS TongThu,
        COALESCE(SUM(CASE WHEN c.Type = N'Chi' THEN t.Amount ELSE 0 END), 0) AS TongChi,
        COALESCE(SUM(CASE WHEN c.Type = N'Thu' THEN t.Amount ELSE 0 END), 0) - 
        COALESCE(SUM(CASE WHEN c.Type = N'Chi' THEN t.Amount ELSE 0 END), 0) AS SoDu
    FROM Transactions t
    JOIN Categories c ON t.CategoryID = c.CategoryID
    WHERE t.UserID = @UserID 
      AND MONTH(t.TransactionDate) = @Month 
      AND YEAR(t.TransactionDate) = @Year;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetTransactions]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.3. Lấy dữ liệu hiển thị lên lưới (Grid) theo Tháng/Năm
CREATE PROCEDURE [dbo].[Proc_GetTransactions]
    @UserID INT,
    @Month INT,
    @Year INT
AS
BEGIN
    SELECT 
        t.TransactionID,
        t.TransactionDate AS Ngay,
        c.CategoryName AS DanhMuc,
        c.Type AS Loai,
        t.Amount AS SoTien,
        t.Note AS GhiChu
    FROM Transactions t
    JOIN Categories c ON t.CategoryID = c.CategoryID
    WHERE t.UserID = @UserID 
      AND MONTH(t.TransactionDate) = @Month 
      AND YEAR(t.TransactionDate) = @Year
    ORDER BY t.TransactionDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_InitDefaultCategories]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_InitDefaultCategories]
    @UserID INT
AS
BEGIN
    INSERT INTO Categories (UserID, CategoryName, Type)
    SELECT @UserID, CategoryName, Type
    FROM Categories
    WHERE UserID IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_Login]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==========================================================================
   4. TẠO STORED PROCEDURES (CÁC CHỨC NĂNG CHO PHẦN MỀM GỌI)
   ========================================================================== */

-- 4.1. Chức năng Đăng nhập
CREATE PROCEDURE [dbo].[Proc_Login]
    @Username VARCHAR(50),
    @Password VARCHAR(255)
AS
BEGIN
    -- Trả về thông tin user nếu đúng user/pass
    SELECT UserID, Username, FullName 
    FROM Users 
    WHERE Username = @Username AND PasswordHash = @Password;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_Register]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.2. Chức năng Đăng ký
CREATE PROCEDURE [dbo].[Proc_Register]
    @Username VARCHAR(50),
    @Password VARCHAR(255),
    @FullName NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SELECT -1 AS Result; -- Trả về -1 nếu trùng tên
    END
    ELSE
    BEGIN
        INSERT INTO Users (Username, PasswordHash, FullName)
        VALUES (@Username, @Password, @FullName);
        SELECT 1 AS Result; -- Thành công
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 06/02/2026 2:42:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_login] AS BEGIN SET NOCOUNT ON; END
GO
USE [master]
GO
